@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url('/nunito/static/Nunito-Regular.ttf') format('truetype');
 }
 
body {
  font-family: Nunito;
  font-weight: 400;

  /* font-size: 1.5em; */
}

header {
  padding: 2em 0 2em 0;
  background: url("./lib/bob.avif") no-repeat;
  background-size: 100%;
}

@media (max-width: 768px) {
  header {
    padding: 2em 0 2em 0;
    background: none;
  }
}

.headerBanner {
  /* max-width: 60%; */
  /* margin: 0 auto;0 */
}

@media (max-width: 768px) {
  .headerBanner {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .headerBanner01 p {
    font-size: 1.4em;
  }
}


.newsletter {
  margin: 0em 0em;
  padding: 2em;
  /*background-color: #4ec28b;*/
}

#elementZviditelneni {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.prepinac {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.prepinac input {
  opacity: 0;
  width: 0;
  height: 0;
}



@media (max-width: 640px) {
  .newsletter {
    margin: 0em 0em;
    padding: 2em;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.animated-element {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
