@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Circular Std;
  font-style: italic;
  font-weight: 300;
  src: url(https://cdn.looka.com/fonts/circular-std/CircularSpotifyText-LightItalic.woff2) format("woff2"), url(https://cdn.looka.com/fonts/circular-std/CircularSpotifyText-LightItalic.woff) format("woff");
}

@font-face {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 300;
  src: url(https://cdn.looka.com/fonts/circular-std/CircularSpotifyText-Light.woff2) format("woff2"), url(https://cdn.looka.com/fonts/circular-std/CircularSpotifyText-Light.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Circular;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-bold.eot);
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-bold.eot#iefix) format("embedded-opentype"), url(https://cdn.looka.com/fonts/circular/lineto-circular-bold.woff2) format("woff2"), url(https://cdn.looka.com/fonts/circular/lineto-circular-bold.woff) format("woff");
}

@font-face {
  font-display: auto;
  font-family: Circular;
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-bolditalic.eot);
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-bolditalic.eot#iefix) format("embedded-opentype"), url(https://cdn.looka.com/fonts/circular/lineto-circular-bolditalic.woff2) format("woff2"),
    url(https://cdn.looka.com/fonts/circular/lineto-circular-bolditalic.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Circular;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-book.eot);
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-book.eot#iefix) format("embedded-opentype"), url(https://cdn.looka.com/fonts/circular/lineto-circular-book.woff2) format("woff2"), url(https://cdn.looka.com/fonts/circular/lineto-circular-book.woff) format("woff");
}

@font-face {
  font-display: auto;
  font-family: Circular;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-bookitalic.eot);
  src: url(https://cdn.looka.com/fonts/circular/lineto-circular-bookitalic.eot#iefix) format("embedded-opentype"), url(https://cdn.looka.com/fonts/circular/lineto-circular-bookitalic.woff2) format("woff2"),
    url(https://cdn.looka.com/fonts/circular/lineto-circular-bookitalic.woff) format("woff");
}

body {
  font-family: Nunito;
  font-weight: 300;

  /* font-size: 1.5em; */
}

h2 {
  font-size: 2.5em;
}

header {
  padding: 2em 0 2em 0;
  background: url("./lib/bob.png") no-repeat;
  background-size: 100%;
}

@media (max-width: 768px) {
  header {
    padding: 2em 0 2em 0;
    background: none;
  }
}

.headerBanner {
  /* max-width: 60%; */
  /* margin: 0 auto;0 */
}

@media (max-width: 768px) {
  .headerBanner {
    max-width: 100%;
    margin: 0 auto;
  }
}

.headerBanner01 {
  margin-top: 8em;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 45px;
  background-color: rgba(238, 238, 238, 0.462);
}

.headerBanner01 p {
  font-size: 1.6em;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

@media (max-width: 768px) {
  .headerBanner01 p {
    font-size: 1.4em;
  }
}

.logo {
  margin-left: 4em;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 2em;
  }
}

nav {
  /* max-width: 80%; */
  margin: 0 auto;
  /* margin-top: 1.5em; */
  border: solid 1px;
  border-radius: 45px;
}

nav ul {
  padding: 0.5rem;
  list-style-type: none;
}

@media (max-width: 768px) {
  nav {
    max-width: 100%;
    margin: 0 auto;
    border: solid 1px;
    border-radius: 45px;
  }
}

.tlacitkoCenik {
  color: white;
  border-radius: 45px;
  padding: 1em;
}

.poptavka:hover {
  border-left: 1px solid black;
  transform: translateX(30px);
}

.poptavka {
  color: white;
  border-radius: 45px;
  padding: 1.25em;
  transition: transform 0.7s ease;
}

.pravaStranaCenik {
  border-left: 1px solid #454545;
}


.textyPrednosti p {
  font-size: 1.3em;
  /* color: rgb(18, 18, 18); */
  color: snow;
  font-weight: 300;
}

@media (min-width: 768px) {
  .textyPrednosti {
    max-width: 80%;
    margin: 0 auto;
  }
}

.textyPrednosti01,
.textyPrednosti02 {
  transition: transform 0.7s ease;
}

.textyPrednosti01:hover,
.textyPrednosti02:hover {
  transform: scale(1.03);
}

.textyPrednosti01 {
  background-color: #43655a;
}

.textyPrednosti02 {
  background-color: #768d93;
}

.karty {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 8em;
  /* opacity: 0.8; */
  /* display: flex;  */
}

@media (min-width: 768px) {
  .karty {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 8em;
  }
}

.karta1,
.karta2,
.karta3,
.karta4,
.karta5 {
  width: 70em;
  height: 15em;
}

.karty p {
  font-size: 1.5em;
}

.karta1 {
  background-color: #e99d0f;
  position: relative;
  z-index: 1;
  transition: transform 0.7s ease;
}

.karta1:hover {
  transform: translateY(2em);
}

.karta2 {
  background-color: #ad9e00;
  position: relative;
  margin-left: -4em;
  margin-top: 1em;
  z-index: 2;
  transition: transform 0.7s ease;
}

.karta2:hover {
  transform: translateX(-2em);
}

.karta3 {
  background-color: #709900;
  position: relative;
  margin-left: -4em;
  margin-top: 1em;
  z-index: 3;
  transition: transform 0.7s ease;
}

.karta3:hover {
  transform: translateX(-2em);
}

.karta4 {
  background-color: #20902c;
  position: relative;
  margin-left: -4em;
  margin-top: 1em;
  z-index: 4;
  transition: transform 0.7s ease;
}

.karta4:hover {
  transform: translateX(-2em);
}

.karta5 {
  background-color: #008349;
  position: relative;
  margin-left: -4em;
  margin-top: 2em;
  z-index: 5;
  transition: transform 0.7s ease;
}

.karta5:hover {
  transform: translateY(-2em);
}

.textTechnologie {
  max-width: 80%;
  margin: 0 auto;
}

.textTechnologie p {
  font-size: 2em;
}

.textTechnologieBanner {
  margin-left: auto;
}

.cenikKarta {
  background-color: white;
  margin: 5em 5em;
  padding: 6em;
}

.cenik {
  padding: 1em;
  margin: 5em 0em;
  background-color: #768D93;
}

@media (max-width: 640px) {
  .cenikKarta {
    margin: 0em 0em;
    padding: 2em;
  }
}

.newsletterKarta {
  padding: 1em;
  margin: 0em 0em;
  background-color: white;
}

.newsletter {
  margin: 0em 5em;
  padding: 2em;
  background-color: #43655a;
}

#elementZviditelneni {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.prepinac {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.prepinac input {
  opacity: 0;
  width: 0;
  height: 0;
}



@media (max-width: 640px) {
  .newsletter {
    margin: 0em 0em;
    padding: 2em;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.animated-element {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}